p {
    font-family: 'Courier New', Courier, monospace;
    font-size:16px;
    text-shadow: -1px 0px 0px#000, 1px 0px 0px#000, 0px -1px 0px#000, 0px 1px 0px#000;
}

h2,h3,
#game-power,
#game-bombs,
#game-lives {
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    text-shadow: -1px 0px 0px#000, 1px 0px 0px#000, 0px -1px 0px#000, 0px 1px 0px#000;
}

h1,
#game-score {
    font-family: 'Courier New', Courier, monospace;
    font-size:32px;
    text-shadow: -1px 0px 0px#000, 1px 0px 0px#000, 0px -1px 0px#000, 0px 1px 0px#000;
}

#game-boss-spell-card-counter {
    font-family: 'Courier New', Courier, monospace;
    font-size:32px;
    text-shadow: -1px 0px 0px#000, 1px 0px 0px#000, 0px -1px 0px#000, 0px 1px 0px#000;
    position:absolute;
    top:28px;
    left:0;
}

#game-boss-health {
    display:block;
    position:relative;
    border: solid 1px #000;
    background: transparent;
    width: 1256px;
    height: 24px;
    border-radius: 4px;
}

#game-boss-health::before {
    content: "Enemy";
    font-size:20px;
    position: absolute;
    left:4px;
    top:0px;
    z-index:1;
    text-shadow: -1px 0px 0px#000, 1px 0px 0px#000, 0px -1px 0px#000, 0px 1px 0px#000;
}

#game-boss-health-bar {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#ff0000c0;
    transition: width 66ms;
}